.Navbar_container {
  height: 55px;
  display: flex;
  position: sticky;
  z-index: 1;
}

nav .active {
  color: var(--main-lightgreen-color);
}

.navbar_icon_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0px 20px;
  margin-left: 3rem;
  margin-top: 10px;
}

.navbar_icon {
  color: var(--main-green-color);
}

.navbar_icon:hover {
  color: var(--main-green-color);
}

.navbar_menu-container {
  display: flex;
  padding: 0px 20px;
  align-items: center;
  margin-right: 40px;
  margin-top: 10px;
}

.navlink {
  color: var(--main-green-color);
  padding: 15px;
  text-decoration: none;
  font-size: large;
  text-transform: uppercase;
}

.navlink:hover {
  color: var(--main-lightgreen-color);
  transition: all 0.5s ease;
  cursor: pointer;
}

.navbar_humburger {
  display: none;
  padding: 0px 20px;
}

@media (max-width: 768px) {
  .navbar_menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 55px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    height: 300px;
  }

  .navlink {
    padding: 15px 0px;
    margin: 1px;
  }
  .active.navbar_menu-container {
    left: 0px;
    background-color: var(--main-bg-color);
  }

  .navbar_humburger {
    display: block;
    cursor: pointer;
    padding: 20px 20px;
    color: var(--main-green-color);
  }
}
