* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
}

.App {
  height: 100%;
}

p {
  color: var(--main-txt-color);
}

#particles {
  position: fixed;
  background-size: cover;
}
:root {
  --main-green-color: #86c232;
  --main-lightgreen-color: #61892f;
  --main-bg-color: #000000;
  --main-txt-color: #6b6e70;
  --main-lighttxt-color: #474b4f;
}
