.home {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 2rem;
}
.home_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: var(--main-lightgreen-color);
  font-weight: 500;
  font-size: 4rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  animation: typingeffectanimation 2.5s steps(30, end);
}

.home-contact-me {
  margin-top: 10px;
}
.home-contact-me button {
  color: var(--main-lightgreen-color);
  background: none;
  border: 1px solid var(--main-lightgreen-color);
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
  margin-right: 10px;
}

.home-contact-me button:hover {
  background: var(--main-lightgreen-color);
  color: var(--main-bg-color);
  font-weight: 500;
}

@keyframes typingeffectanimation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .home_text_wrppper h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
  .home_text_wrppper h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .home_text_wrppper h1 {
    font-size: 4rem;
  }
}

.social-media-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-text p {
  word-wrap: break-word;
  width: 0%;
  margin-left: 10px;
  margin-bottom: 15px;
  line-height: 2rem;
  font-weight: 700;
}
.Arrow-icon {
  color: var(--main-txt-color);
  height: 2rem;
}

.social-media-icon {
  background: transparent;
  color: var(--main-txt-color);
}

.soical-media-links ul li {
  margin-top: 3rem;
  margin-right: 1rem;
}

.allsection {
  grid-area: 12fr;
}
